release/
.laya/settings.json
/.laya/settings.json
/bin/**/
/bin/fileconfig.json
/bin/unpack.json
!/bin/libs
/src/GameConfig.ts
.laya/wxgame.json
.laya/web.json
.rpt2_cache/
/.laya/chromea
/.laya/*
.DS_Store
